<div class="card">
    <div class="card-body">
        <ngb-tabset>
            <ngb-tab title="{{'UI.UPLOAD.MANAGE DOC' | translate}}" *ngIf="documents && documents.length > 0">
                <ng-template ngbTabContent>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3 align-self-center"> <b>{{'UI.UPLOAD.DOCUMENT' | translate}}</b> </div>
                                <div class="col-sm-2 align-self-center"> <b>{{'UI.UPLOAD.DELETE' | translate}}</b> </div>
                                <div class="col-sm-7 align-self-center"> <b>{{'UI.UPLOAD.COMMENT' | translate}}</b> </div>
                            </div>
                            <div class="row" *ngFor="let document of (documents || []); let docPos = index">
                                <!--FOR-->
                                <div class="col-sm-3 align-self-center">
                                    <img *ngIf="isImage(document)" style="max-width:50%;max-height:50%" [src]="getPictureUrl(document.filename)" [ngbTooltip]="'UI.UPLOAD.DOWNLOAD TIP' | translate">
                                    <a target="_blank" href="{{getPictureUrl(document.filename)}}" *ngIf="!isImage(document)">{{document.file.name}}</a>
                                </div>
                                <div class="col-sm-2 align-self-center" >
                                    <gg-checkbox-delete *ngIf="canUserChange" [typeObjectKey]="'PUBLIC.MARKET.DOCUMENT'" (doDelete)="deleteDocument(docPos)"></gg-checkbox-delete>
                                </div>
                                <div class="col-sm-7 align-self-center">
                                    <gg-editor [content]="document.description" [showControls]="true" (editSaved)="descriptionUpdated(document, $event)" [readOnly]="!canUserChange"></gg-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="{{'UI.UPLOAD.ADD DOC' | translate}}" *ngIf="canUserAdd">
                <ng-template ngbTabContent>
                    <div class="card">
                        <div class="card-body">
                            <gg-image-uploader #uploader [uploadUrl]="uploadUrl" [maxNbOfFiles]="1" (imagesChanged)="onUploadFinished($event)"></gg-image-uploader>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>