<div class="editor__editable-content">
    <simple-tiny #tinymceInEditor [elementId]="'tinymceInEditor'+id" [content]="contentEdited" (onEditorKeyup)="tinymceChanged($event)" ></simple-tiny> 
</div>

<div class="editor__output" [innerHTML]="content"></div>
<div *ngIf="!editMode" class="editor__controls">
  <button (click)="edit()" class="editor__icon-edit"></button>
</div>
<div *ngIf="editMode" class="editor__controls">
  <button (click)="save()" class="editor__icon-save"></button>
  <button (click)="cancel()" class="editor__icon-cancel"></button>
</div>

