
<input class="editor__editable-content form-control" [(ngModel)]="selectedItem" ng2-auto-complete blank-option-text="{{'UI.SELECT ONE PHOLDER' | translate}}"  [source]="selectableData" placeholder="{{'UI.ENTER TEXT PHOLDER' | translate}}"   />

<div class="editor__output">{{content}}</div>
<div *ngIf="!readOnly && !editMode" class="editor__controls">
  <button (click)="edit()" class="editor__icon-edit"></button>
</div>
<div *ngIf="!readOnly && editMode" class="editor__controls">
  <button (click)="save()" class="editor__icon-save"></button>
  <button (click)="cancel()" class="editor__icon-cancel"></button>
</div>
