<div (input)="onInput()"
     class="editor__editable-content"
     contenteditable="true"></div>
<div class="editor__output">{{(isMonetary && +content) ? (content | ggCurrency:currency) : (content || ('UI.GENERAL.NOT SET YET' | translate) ) }}</div>
<div *ngIf="!readOnly && showControls && !editMode" class="editor__controls">
  <button (click)="edit()" class="editor__icon-edit"></button>
</div>
<div *ngIf="!readOnly && showControls && editMode" class="editor__controls">
  <button [hidden]="!isValid" (click)="save()" class="editor__icon-save"></button>
  <span [hidden]="isValid" [style.color]="'red'" >{{'UI.GENERAL.FORMAT NOT VALID' | translate}}</span>
  <button (click)="cancel()" class="editor__icon-cancel"></button>
</div>
<div *ngIf="isMonetary && editMode">Ex: 45.16</div>
