<div class="editor__editable-content">
    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" readonly="readonly" name="dp" [(ngModel)]="contentEdited" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-addon" (click)="d.toggle()">
                    <img src="images/calendar.png" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                </div>
            </div>
        </div>
    </form>
</div>


<div class="editor__output">{{content | shortDate }}</div>
<div *ngIf="!readOnly && !editMode" class="editor__controls">
    <button (click)="edit()" class="editor__icon-edit"></button>
</div>
<div *ngIf="!readOnly && editMode" class="editor__controls">
    <button (click)="save()" class="editor__icon-save"></button>
    <button (click)="cancel()" class="editor__icon-cancel"></button>
</div>

