<div *ngIf="!hideAll">
    <input type="checkbox" ngbTooltip="{{'UI.CHECKBOX DELETE.WARNING1' | translate:{action: (actionKey | translate), type: (typeObjectKey | translate)} }}"
        *ngIf="!isDueToDelete" (click)="isDueToDelete= !isDueToDelete" />
    <div class="btn btn-warning btn-sm" ngbTooltip="{{'UI.CHECKBOX DELETE.WARNING2' | translate:{action: (actionKey | translate), type: (typeObjectKey | translate)} }}"
        *ngIf="isDueToDelete" (click)="onCheckedChange()">{{actionKey | translate}}</div>
    <div class="btn btn-success btn-sm" *ngIf="isDueToDelete" (click)="isDueToDelete= !isDueToDelete">{{'UI.CHECKBOX DELETE.CANCEL' | translate}}</div>
</div>